@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MainPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<ul>
	<li>
		@Umbraco.GetDictionaryValue("knowit.imlazy")
		@Umbraco.GetDictionaryValue("knowit.mads")
	</li>
</ul>
