@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Knowit.Umbraco.Dictionoid.Helper
@{
	Layout = null;
}
<ul>
	<li>@await Umbraco.Dictionoid("I'm very lazy","knowit.lazy4")</li>
</ul>